body {
    margin: 0;
    height: 100vh;
}
.bloc-page {
    margin: 0 50px;
    min-height: 80%;
}


// Responsive pour les tablettes (max-width: 768px)
@media (max-width: 1024px) {
    .bloc-page {
       min-height: 88%;
    }
 }

// Responsive pour les petits écrans (max-width: 768px)
@media (max-width: 768px) {
    .bloc-page {
       min-height: 90%;
    }
 }



