* {
    //outline: 1px solid red; /* Affiche une bordure sur tous les éléments */
}

/*body {
    margin: 0;
    height: 100vh;
}*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    //border: 10px solid blue; /* Pour voir si le contenu dépasse les limites */
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.bloc-page {
   // margin: 0 50px;
    min-height: 80%;
}


// Responsive pour les tablettes (max-width: 768px)
@media (max-width: 1024px) {
    .bloc-page {
       min-height: 88%;
    }
 }

// Responsive pour les petits écrans (max-width: 768px)
@media (max-width: 768px) {
    .bloc-page {
       min-height: 90%;
    }
 }



