/* Style pour le footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top: 1px solid #000000;
}

.footer-menu-class {
    list-style: none;
    display: flex;
    li {
        padding: 0 40px;
        a {
            text-decoration: none;
            color: #000; 
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}

#menu-footer-menu li a:hover {
    font-weight: 700;

}

// Responsive pour les petits écrans (max-width: 768px)
@include respond-to($breakpoint-mobile) {
    footer {
        height: 208px;
    }
    #menu-footer-menu {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        line-height: 23.7px;
    }
}