.hero {
    position: relative;
    width: 100%;
    min-height: 962px; /* Hauteur fixe selon la maquette */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Assure la couverture sans distorsion */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero img {
    width: 1000px;
}
