// Mixin pour les styles de bouton
@mixin button-styles {
    height: 50px;
    border-radius: 2px;
    background-color: #D8D8D8;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 1px 0px #00000005;
    padding: 8px 15px;
}

@mixin hover-button {
    &:hover {
      font-weight: 700;
      color: #FFFFFF;
      background-color:#000000;
    }
  }

// Mixin pour un conteneur flex avec alignement centré et espace distribué
@mixin flex-centered-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Breakpoints pour mobile et tablette
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// Mixin pour media queries
@mixin respond-to($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

