.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   // width: 100vw;
    //height: 100vh;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); // Fond transparent initial
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    opacity: 0; // Masquée initialement
    transition: opacity 1s ease-in-out, background-color 1s ease-out, transform 1s ease-in;

    &.show {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.95); // Fond semi-transparent lors de l'animation
        transform: scale(1.01); // Légère échelle pour l'effet d'entrée
       // align-items: center;
       // justify-content: center;
    }
    &.hide {
        opacity: 0; // Commence à disparaître
        background-color: rgba(0, 0, 0, 0); // Fond transparent lors de la disparition
        transform: scale(0.95); // Réduit légèrement pour l'effet de sortie
        transition: opacity 0.4s ease-out, background-color 0.5s ease-out, transform 1s ease-out; // Ajout de la transition pour la réduction
    }

    .modal-content {
        background-color: #fff;
        max-width: 597px;
        width: 100%;
        max-height: 769px;
        overflow: hidden;
        height: 95vh;
        border: solid 5px #000;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .wpcf7 form .wpcf7-response-output {
            margin: 0;
        }
        form {
            width: 263px;
            height: auto;
           // padding-top: 30px;
            p {
                margin-bottom: 0;
            }

            label {
                color: #313144;
                font-size: 12px;
            }

            input,
            textarea {
                border: 1px solid #B8BBC2;
                border-radius: 8px;
                width: 100%;
                padding: 0;
                box-sizing: border-box;
                margin-top: 5px;
            }
            input {
                height: 40px;
                margin-bottom: 10px;
                
            }

            textarea {
                max-height: 210px;
                resize: none;
            }
            input:focus,
            textarea:focus {
                outline: none;
            }
            #btn-envoyer {
                width: 263px;
                @include button-styles;
                @include hover-button;
            }
            .wpcf7-response-output {
                display: none;
            }
        }
    }
}

// Responsive pour les petits écrans (max-width: 768px)
@include respond-to($breakpoint-mobile) { 
    .modal {
        align-items: start;
        padding-top: 50px;
        .modal-content{
            max-width: 286px;
            max-height: 583px;
            img {
                height: 14%;
            }
            form {
                width: 190px;
                p {
                    margin-top: 5%;
                }
                input {
                    margin-bottom: 0;
                }
                textarea {
                    max-height: 149px;
                }
                #btn-envoyer {
                    width: 190px;
                }
            }
    }
    }
}
