.modal {
    //display: none; // Par défaut, masquée
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.85); // Fond semi-transparent pour l'écran
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: start ;
    overflow-y: auto; // Active le défilement si le contenu dépasse la hauteur de l'écran
    .modal-content {
        background-color: #fff;
        width: 597px;
        min-height: 769px;
        border: solid 5px #000;
        padding: 10px 0;
        //margin-top: 290px;
        margin-top: 85px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        form {
            width: 263px;
            label {
                color: #313144;
                font-size: 12px;
            }
            input {
                border: 1px solid #B8BBC2;
                border-radius: 8px;
                width: 100%;
                height: 40px;
                padding: 0;
                box-sizing: border-box;
                margin-top: 5px;
                margin-bottom: 10px;
            }
            textarea {
                width: 100%;
                height: 210px;
                margin-top: 5px;
                border: 1px solid #B8BBC2;
                border-radius: 8px;
                padding: 0;
                box-sizing: border-box;
            }
        }
    }
}