/*.full-height {
   margin: auto; 
   max-width: 1148px;   
}*/
.article-details {
    max-width: 1148px;
    margin: auto; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 30px;
    .article-info {
        height: auto;
        width: 100%;
        max-width: 420px;
        box-sizing: border-box;
        margin-bottom: 20px;
        h2 {
            font-size: 66px;
            text-transform: uppercase;
            line-height: 58px;
            margin-bottom: 20px;
            width: 100%;
        }
        .description {
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 20.73px;
        }
    }
    .article-image {
       height: auto;
       width: 50%;
    }
    .article-image img {
        //object-fit: fill;
        width: 100%;
        height: 100%;
    }
}
.interaction-section {
    max-width: 1148px;
    margin: auto; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 118px;
    border-bottom: 1px solid #000;
}
.contact-call {
    @include flex-centered-space-between;
    width: 49%;
    border-top: 1px solid #000;
    height: 118px;
    #contactButton {
        width: 272px;
        @include button-styles;
        @include hover-button;
    }
}
.photo-navigation {
    height: 110px;
    img {
        width: 81px;
        height: 71px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    .arrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.related-photos {
    max-width: 1148px;
    margin: auto;
    .related-images {
       display: flex;
       flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
        gap: 20px;
        box-sizing: border-box;
            margin-top: 40px;
            margin-bottom: 100px;
            .related-photo {
                max-width: 564px;
                max-height: 495px;
                overflow: hidden;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        
    }
    h3 {
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 26.66px;
        margin-top: 50px;
    }
}

// Responsive pour les tablettes (max-width: 1024px)
@include respond-to($breakpoint-tablet) {
   /* .full-height {
        max-width: 1024px;
        width: 90% ;
        height: auto;
    }*/
    .article-details {
        max-width: 1024px;
        width: 90% ;
        height: auto;
    }
    .interaction-section {
        max-width: 1024px;
        width: 90% ;
    }
    .related-photos {
        max-width: 1024px;
        width: 90%;
        height: auto;
    }
}

// Responsive pour les petits écrans (max-width: 768px)
@include respond-to($breakpoint-mobile) {
   /* .full-height{
        height: auto;
    }*/
    .article-details {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: auto;
        .article-info {
            width: 90%;
            max-width: 262px;
            h2 {
                font-size: 46px;
                line-height: 48px;
            }
        }
        .article-image {
            width: 90%;
            max-width: 265px;
        }
    }
    .photo-navigation {
        display: none;
    }
    .interaction-section{
        height: auto;
    }
    .contact-call {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        #contactButton {
            width: 263px;
        }
    }
    .related-photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        h3 {
            margin: 40px 0 0;
        }
        .related-images {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .related-photo {
                width: 318px;
                height: 279px;
                margin-bottom: 20px;
            }
        }
    }
}
