.full-height {
   margin: auto; 
   height: 100vh;
   max-width: 1148px;   
}
.article-details {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    //height: 100%;
    height: calc(100% - 118px);
    .article-info {
        height: auto;
        width: 420px;
        box-sizing: border-box;
        margin-bottom: 20px;
        h2 {
            font-size: 66px;
            text-transform: uppercase;
            line-height: 58px;
            margin-bottom: 20px;
        }
        .description {
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 20.73px;
        }
    }
    .article-image {
       height: 100%;
       width: 50%;
    }
    .article-image img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
}
.interaction-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 118px;
    border-bottom: 1px solid #000;
}
.contact-call {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 49%;
    border-top: 1px solid #000;
    height: 118px;
    #contactButton {
        width: 272px;
        height: 50px;
        border-radius: 2px;
        background-color: #D8D8D8;
        border: none;
        box-shadow: 0px 2px 1px 0px #00000005;
        padding: 8px 15px;
        cursor: pointer;
    }
}
.photo-navigation {
    height: 110px;
    img {
        width: 81px;
        height: 71px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    .arrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.related-photos {
    width: 1148px;
    margin: auto;
    .related-images {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 100px;
        .related-photo {
            width: 564px;
            height: 495px;
            overflow: hidden;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        
    }
    h3 {
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 26.66px;
        margin-top: 50px;
    }
}