@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"), url("../fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/spacemono-italic-webfont.woff2") format("woff2"), url("../fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/spacemono-bold-webfont.woff2") format("woff2"), url("../fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/spacemono-bolditalic-webfont.woff2") format("woff2"), url("../fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
body, .description, button {
  font-family: "Space Mono", serif;
  font-weight: 400;
}

h1 {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: italic;
}

h2 {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

/* Style pour le header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 215px 0 200px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.031372549);
}
header .logo {
  padding-right: 20px;
}

.main-navigation {
  list-style: none;
  display: flex;
}
.main-navigation li {
  margin-left: 35px;
}
.main-navigation li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

.main-navigation li a:hover {
  color: #E00000;
}

/* Style pour le footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-top: 1px solid #000000;
}

.footer-menu-class {
  list-style: none;
  display: flex;
}
.footer-menu-class li {
  padding: 0 40px;
}
.footer-menu-class li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

#menu-footer-menu li a:hover {
  color: #E00000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: start;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out, background-color 1s ease-out, transform 1s ease-in;
}
.modal.show {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.85);
  transform: scale(1.02);
}
.modal.hide {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(0.95);
  transition: opacity 0.4s ease-out, background-color 0.5s ease-out, transform 1s ease-out;
}
.modal .modal-content {
  background-color: #fff;
  width: 597px;
  min-height: 769px;
  border: solid 5px #000;
  padding: 10px 0;
  margin-top: 85px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.modal .modal-content form {
  width: 263px;
}
.modal .modal-content form label {
  color: #313144;
  font-size: 12px;
}
.modal .modal-content form input,
.modal .modal-content form textarea {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 5px;
}
.modal .modal-content form input {
  height: 40px;
  margin-bottom: 10px;
}
.modal .modal-content form textarea {
  height: 210px;
}

.full-height {
  margin: auto;
  height: 100vh;
  width: 1148px;
}

.article-details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  max-height: calc(100% - 118px);
}
.article-details .article-info {
  height: auto;
  width: 420px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.article-details .article-info h2 {
  font-size: 66px;
  text-transform: uppercase;
  line-height: 58px;
  margin-bottom: 20px;
}
.article-details .article-info .description {
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 20.73px;
}
.article-details .article-image {
  height: 100%;
  width: 50%;
}
.article-details .article-image img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}

.interaction-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 118px;
  border-bottom: 1px solid #000;
}

.contact-call {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 49%;
  border-top: 1px solid #000;
  height: 118px;
}
.contact-call #contactButton {
  width: 272px;
  height: 50px;
  border-radius: 2px;
  background-color: #D8D8D8;
  border: none;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.0196078431);
  padding: 8px 15px;
  cursor: pointer;
}

.photo-navigation {
  height: 110px;
}
.photo-navigation img {
  width: 81px;
  height: 71px;
}
.photo-navigation a {
  text-decoration: none;
  color: #000;
}
.photo-navigation .arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */